html, body {
	height: 100%;
}

@font-face {
	font-family: Abril;
	src: url('AbrilFatface-Regular.ttf');
}

@font-face {
	font-family: Playfair;
	src: url('PlayfairDisplay-VariableFont_wght.ttf');
}

h1, h2, h3 { font-family: Abril; }
label { font-family: Playfair; }
li { font-family: Playfair; }

a { color: black; font-family: Playfair; }
a:hover { color: black; font-weight: 800; }

input[type="text"], input[type="password"] {
	border: 1px solid gray;
	border-radius: 5px;
	font-family: Playfair;
}

input[type="text"]:focus, input[type="password"]:focus {
	box-shadow: 5px 5px powderblue;
	border-radius: 5px;
	font-family: Playfair;
}

input[type="submit"] {
	background-color: transparent;
	color: black;
	border: 2px solid black;
	font-family: Playfair;
	font-weight: 600;
	border-radius: 5px;
}

input[type="submit"]:hover {
	border-color: powderblue;
	background-color: powderblue;
}
