<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites@6.7.4/dist/css/foundation.min.css" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}">
        <title>Page Not Found</title>
    </head>
    <body>
    	<div class="grid-y grid-padding-x align-middle">
		<h2>Sorry, page not found</h2>
		<p>Return to <a href="/" style="color: blue;">main page</a></p>
	</div>
    </body>
</html>
