<!doctype html>
<html lang="en">
  <head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites@6.7.4/dist/css/foundation.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}">
  </head>

  <body>
    <div class="top-bar">
      <div class="top-bar-left">
        <ul class="dropdown menu" data-dropdown-menu>
          <li class="menu-text"><h3>Word in the Middle</h3></li>
          <li style="display: flex;"><a href="/" style="margin: auto;">Dashboard</a></li>
          <li style="display: flex;"><a href="/game" style="margin: auto;">New Game</a></li>
          <li style="display: flex;"><a href="/leaderboard" style="margin: auto;">Leaderboard</a></li>
        </ul>
      </div>
      <div class="top-bar-right">
        <ul class="menu">
          {% if logged_in %}
          <li><a href="/logout">Logout</a></li>
          {% else %}
          <li><a href="/login">Login</a></li>
          <li><a href="/register">Register</a></li>
          {% endif %}
        </ul>
      </div>
    </div>
    
    {% block body %}{% endblock %}
    
    <footer>&copy Team Advent</footer>
  </body>
</html>
