{% extends "base.html" %}
{% block title %}{% endblock %}

{% block body %}
    <div class="grid-y grid-padding-x">
        {% for user in top_100 %}
        <div class="small-4 cell grid-x">
            <h3 class="small-4 cell">{{ user['ranking'] }}</h3>
            <div class="small-8 cell grid-y align-center" style="background-color: powderblue;">
                <h4 class="small-6 cell">{{ user['name'] }}</h4>
                <p class="small-6 cell">Total points: {{ user['points'] }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}
