{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block body %}
    <div style="padding: 30px 0;">
      <div class="grid-x grid-padding-x align-center"><h2>Login</h2></div>
      <form style="padding: 20px;" id="flavor-form">
          <div class="grid-y grid-padding-x">
              <div class="small-6 cell">
                  <label>Username</label>
                  <input type="text" placeholder="Enter your username">
              </div>
              <div class="small-6 cell">
                  <label>Password</label>
                  <input type="password" placeholder="Enter your password">
              </div>
              <div class="large-12 cell grid-x align-center">
                <input type="submit" class="button" id="submit">
              </div>
          </div>
      </form>
    </div>
{% endblock %}
