<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites@6.7.4/dist/css/foundation.min.css" crossorigin="anonymous">

		<style>
			html, body {
				height: 100%;
			}
		</style>
	</head>

	<body>
		<div class="top-bar">
			<div class="top-bar-left">
				<ul class="dropdown menu" data-dropdown-menu>
					<li class="menu-text">Word in the Middle</li>
				</ul>
			</div>
			<div class="top-bar-right">
				<ul class="dropdown menu" data-dropdown-menu>
					<li><a href="#">Pause</a></li>
					<li><a href="#">Quit</a></li>
				</ul>
			</div>
		</div>

		<div class="large-6 cell grid-y align-center-middle" style="background-color: powderblue; height: 100%;">
			<div class="small-2 cell grid-y align-center-middle">
				<h3>Player 1</h3>
				<h4>Turns taken: 0</h4>
			</div>
			<div class="small-2 cell grid-y align-center-middle">
				<h4>Current word: Word</h4>
				<h4>Target word: Word</h4>
			</div>

			<div class="grid-x large-8 cell align-center-middle">
				<a href="#" class="small-4 cell">Option 0</a>
				<a href="#" class="small-4 cell">Option 1</a>
				<a href="#" class="small-4 cell">Option 2</a>
			</div>
		</div>

	</body>
</html>
