<!doctype html>
<html lang="en">
    <head>
        <title>Register</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites@6.7.4/dist/css/foundation.min.css" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}">
  </head>
    <body>
        <div class="top-bar">
            <div class="top-bar-left">
              <ul class="menu">
                <li><a href="/">Back</a></li>
              </ul>
            </div>
        </div>
        <div style="padding: 30px 0;">
        <div class="grid-x grid-padding-x align-center"><h2>Register</h2></div>
        <form style="padding: 20px;" id="flavor-form" method="post">
            <div class="grid-y grid-padding-x">
                <div class="large-3 cell">
                    <label>Username</label>
                    <input name="username" type="text" placeholder="Enter your username">
                </div>
                <div class="large-3 cell">
                    <label>Password</label>
                    <input name="password" type="password" placeholder="Enter your password">
                </div>
                <div class="large-3 cell">
                    <label>Confirm Password</label>
                    <input name="confirm" type="password" placeholder="Confirm you password">
                </div>
                <div class="large-12 cell grid-x align-center">
                    <input type="submit" class="button custom-button" id="submit">
                </div>

                {% if not pass_match %}
                <p style="color: red">Passwords don't match</p>
                {% endif %}

                {% if not unique_name %}
                <p style="color: red">Username is not unique</p>
                {% endif %}
            </div>
        </form>
        </div>
    </body>
</html>
