<!doctype html>
<html lang="en">
    <head>
        <title>{% block title %}{% endblock %}</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites@6.7.4/dist/css/foundation.min.css" crossorigin="anonymous">
        
        <style>
            html, body {
                height: 100%;
            }
        </style>
  </head>
    <body>
        <div class="top-bar">
            <div class="top-bar-left">i
              <ul class="menu">
                <li><a href="/">Back</a></li>
              </ul>
            </div>
        </div>
        <div style="padding: 30px 0;">
        <div class="grid-x grid-padding-x align-center"><h2>Register</h2></div>
        <form style="padding: 20px;" id="flavor-form" action="/create_new_user">
            <div class="grid-y grid-padding-x">
                <div class="large-3 cell">
                    <label>Username</label>
                    <input type="text" placeholder="Enter your username">
                </div>
                <div class="large-3 cell">
                    <label>Password</label>
                    <input type="password" placeholder="Enter your password">
                </div>
                <div class="large-3 cell">
                    <label>Confirm Password</label>
                    <input type="password" placeholder="Confirm you password">
                </div>
                <div class="large-12 cell grid-x align-center">
                    <input type="submit" class="button" id="submit">
                </div>
            </div>
        </form>
        </div>
    </body>
</html>
