<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites@6.7.4/dist/css/foundation.min.css" crossorigin="anonymous">
		<link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}">
		<title>That Word Game</title>
	</head>
	<body>
		<div class="grid-y grid-padding-x align-middle">
			<div class="grid-y align-center-middle cell" style="background-color: powderblue; padding: 10px 0;">
				<h4>Turn #{{ turn_number }}</h4>
			</div>

			<h1>{{ word }}</h1>
			<p style="text-align: center;">Definition: {{ definition }}</p>

			<h4 style="margin-top: 10px;">Target Word:</h4>
			<h1 style="color: blue;">{{ target }}</h1>
			<p style="text-align: center;">Definition: {{ target_definition }}</p>

			{% if not synonyms and not links %}
				{% if turn_number > 1 %}
					<h3>Game over: No more related words</h3>
				{% else %}
					<h3>There were no related words :(</h3>
				{% endif %}
				<a href="/game" class="button custom-button">Start a New Game</a>
			{% endif %}

			{% if synonyms %}
			<div class="card cell" style="border: none">
				<h3 class="card-divider">Synonyms</h3>
				<div class="card-section grid-x">
					{% for synonym in synonyms %}
						<div class='small-3 cell'><a href="/game/{{ escape_url(synonym) }}">{{ synonym }}</a></div>
					{% endfor %}
				</div>
			</div>
			{% endif %}

			{% if links %}
			<div class="card cell" style="border: none">
				<h3 class="card-divider">Wikipedia Links</h3>
				<div class="card-section grid-x">
					{% for link in links %}
						<div class="small-4 cell"><a href="/game/{{ escape_url(link) }}">{{ link }}</a></div>
					{% endfor %}
				</div>
			</div>
			{% endif %}

		</div>
	</body>
</html>
